body,div,ul,li{
	margin:0px;
	padding:0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	font-family: "microsoft yahei";
}
html{
	width:100%;
	height:100%;
}
body{
	width:100%;
	height:100%;
    background: -moz-radial-gradient(top, #005494 0%, #031426 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005494), color-stop(100%,#001526));
    background: -webkit-radial-gradient(top, #005494 0%,#001526 100%);
    background: -o-radial-gradient(top, #005494 0%,#001526 100%);
    background: -ms-radial-gradient(top, #005494 0%,#001526 100%);
    background: radial-gradient(to bottom, #005494 0%,#001526 100%);
}
.firstPage{
	position: absolute;
	top:0px;
	bottom:0px;
	width:100%;
}
/*cashflow display board*/
.blackBoard{
	position: relative;
	top:20px;
	width:94%;
	left:50%;
	margin-left:-47%;
	height:60px;
	background:rgba(0,0,0,0.3);
	border-radius: 10px;
	border:1px solid rgba(255,255,255,0.2);
}
.blackBoard .cashflow{
	position: relative;
	margin-left:10px;
	line-height:60px;
	font-size: 20px;
	color:rgba(255,255,255,0.3);
}
.blackBoard .cashflowFont{
	position: relative;
	display: inline-block;
	height:40px;
	width:64%;
	line-height:40px;
	font-size: 26px;
	letter-spacing: 5px;
	color:rgba(245,162,54,0.7);
	border-radius: 10px;
	text-align: center;
}
/*net asset*/
.pureAsset{
	position: relative;
	display: inline-block;
	margin-top: 25px;
	width:54%;
	height:30px;
	background:red;
	left:3%;
	border-radius: 10px;
	line-height:30px;
	text-indent: 4px;
	color:rgba(255,255,255,0.3);
	border:1px solid rgba(255,255,255,0.2);
	background:rgba(0,0,0,0.4);
}
.pureAsset .spanPureAsset{
	position: absolute;
}
.pureAsset .spanNumberPureAsset{
	position: absolute;
	right:4px;
	color:rgba(245,162,54,0.6);
}
/*passiveIncome*/
.passiveIncome{
	position:relative;
	display: inline-block;
	border-radius: 10px;
	left:4%;
	width:37%;
	height:30px;
	background:red;
	color:rgba(255,255,255,0.3);
	border:1px solid rgba(255,255,255,0.2);
	background:rgba(0,0,0,0.4);
}
.passiveIncome .spanPassiveIncome{
	position: absolute;
	line-height:30px;
	text-indent: 4px;
}
.passiveIncome .spanNumberPassiveIncome{
	position: absolute;
	right:10px;
	text-align: center;
	line-height: 30px;
	color:rgba(245,162,54,0.6);
}
/*cash*/
.moneyCanUse{
	position: relative;
	display: inline-block;
	left:3%;
	width:40%;
	height:30px;
	border-radius: 10px;
	color:rgba(255,255,255,0.3);
	border:1px solid rgba(255,255,255,0.2);
	background:rgba(0,0,0,0.4);
}
.moneyCanUse .spanMoneyCanUse{
	position: absolute;
	line-height:30px;
	text-indent: 4px;
}
.moneyCanUse .spanNumberMoney{
	position: absolute;
	right:10px;
	text-align: center;
	line-height: 30px;
	color:rgba(245,162,54,0.6);
}
/*payment and safety*/
.monitor{
	position: relative;
	display: inline-block;
	left:3%;
	line-height:30px;
	top:-10px;
	width:52%;
	height:30px;
}
.monitor .balanceOfPayment{
	position: relative;
	width:50%;
	height:30px;
	box-sizing: border-box;
	display: inline-block;
	color:rgba(255,255,255,0.3);
	border:1px solid rgba(255,255,255,0.2);
	background:rgba(0,0,0,0.4);
	border-radius: 6px;
	text-indent: 10px;
	
}
.monitor .balanceOfPayment>.number{
	color:rgba(245,162,54,0.6);
}
.monitor .balanceOfSafety{
	float:left;
	position: relative;
	width:50%;
	height:30px;
	box-sizing: border-box;
	display: inline-block;
	color:rgba(255,255,255,0.3);
	border:1px solid rgba(255,255,255,0.2);
	background:rgba(0,0,0,0.4);
	text-indent: 10px;
	border-radius: 6px;
}
.monitor .balanceOfSafety>.number{
	color:rgba(245,162,54,0.6);
}
/*按钮选项*/
.selectButtonList{
	position: relative;
	left:50%;
	margin-left:-48%;
	width:96%;
	height:30px;
}
.selectButtonList>div{
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width:25%;
	height:30px;
	line-height: 30px;
	color:rgba(255,255,255,0.6);
	box-sizing: border-box;
	text-align: center;
	border-top: 1px solid rgba(255,255,255,0.2);
	border-left: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
	border-radius: 2px;
}
/*选项内容*/
.selectContent{
	position: relative;
	left:50%;
	margin-left:-48%;
	width:96%;
	height:320px;
	box-sizing: border-box;
	background:rgba(0,0,0,0.3);
}
.selectContent>div{
	position: absolute;
	width:100%;
	height:100%;
	color:white;
}
.selectButtonBG{
	background:rgba(0,0,0,0.3);
	border-bottom:1px solid rgba(0,0,0,0);
}
.notSelectButtonBG{
	background:rgba(255,255,255,0.1);
	border-bottom:1px solid rgba(255,255,255,0.2);
}
.newItem{
	position: relative;
	width:96%;
	left:50%;
	margin-left:-48%;
	height:50px;
	line-height:50px;
	text-align: center;
	font-size:20px;
	color:#ddd;
	background:rgba(255,0,0,0.5);
}
/*输入框*/
.inputBox{
	position: absolute;
	top:40%;
	margin-top:-50px;
	left:50%;
	margin-left:-45%;
	height:100px;
	width:90%;
	border-radius: 10px;
	background:rgba(0,43,76,1); 
}
.inputBox>div.cancel{
	position: absolute;
	width:80px;
	height:30px;
	border-radius: 10px;
	line-height: 30px;
	text-align: center;
	bottom:6px;
	left:40px;
	color:white;
	background:rgba(200,200,200,0.4);
}
.inputBox>div.sure{
	position: absolute;
	width: 80px;
	height:30px;
	border-radius: 10px;
	background: rgba(255,85,0,0.8);
	color:white;
	text-align: center;
	line-height: 30px;
	bottom:6px;
	right:40px;
}
.inputBox>input.inputName{
	position: absolute;
	top: 8px;
	left:20px;
	background: none;
	border: none;
	width:100px;
	height:26px;
	font-size: 16px;
	line-height: 26px;
	border-bottom: 1px solid #aaa;
	color:white;
	outline: none;
	text-align: center;
}
.inputBox>input.inputValue{
	position: absolute;
	top: 8px;
	right:20px;
	background: none;
	border: none;
	width:100px;
	height:26px;
	font-size: 16px;
	line-height: 26px;
	border-bottom: 1px solid #aaa;
	color:white;
	outline: none;
	text-align: center;
}
.inputBox>select.inputChooseSelect{
	position: absolute;
	display: inline-block;
	left:50%;
	margin-left:-35px;
	text-align: center;
	top:18px;
	outline: none;
	width:70px;
	height:20px;
}
.inputBox>select.inputChooseSelect>option{
	text-align: center;
}
.selectContent .inputContent{
	overflow-y: auto;
}
#inputList{
	width:100%;
}
#inputList>tr{
	width:100%;
	background: red;
}
#inputList>tr>td{
	text-align: center;
	width: 25%;
}
/*输出框*/
.outputBox{
	position: absolute;
	top:40%;
	margin-top:-50px;
	left:50%;
	margin-left:-45%;
	height:100px;
	width:90%;
	border-radius: 10px;
	background:rgba(0,43,76,1); 
}
.outputBox>div.cancel{
	position: absolute;
	width:80px;
	height:30px;
	border-radius: 10px;
	line-height: 30px;
	text-align: center;
	bottom:6px;
	left:40px;
	color:white;
	background:rgba(200,200,200,0.4);
}
.outputBox>div.sure{
	position: absolute;
	width: 80px;
	height:30px;
	border-radius: 10px;
	background: rgba(255,85,0,0.8);
	color:white;
	text-align: center;
	line-height: 30px;
	bottom:6px;
	right:40px;
}
.outputBox>input.outputName{
	position: absolute;
	top: 8px;
	left:20px;
	background: none;
	border: none;
	width:100px;
	height:26px;
	font-size: 16px;
	line-height: 26px;
	border-bottom: 1px solid #aaa;
	color:white;
	outline: none;
	text-align: center;
}
.outputBox>input.outputValue{
	position: absolute;
	top: 8px;
	right:20px;
	background: none;
	border: none;
	width:100px;
	height:26px;
	font-size: 16px;
	line-height: 26px;
	border-bottom: 1px solid #aaa;
	color:white;
	outline: none;
	text-align: center;
}
.outputBox>select.outputChooseSelect{
	position: absolute;
	display: inline-block;
	left:50%;
	margin-left:-25px;
	text-align: center;
	top:18px;
	outline: none;
	width:50px;
	height:20px;
}
.outputBox>select.outputChooseSelect>option{
	text-align: center;
}
.selectContent .outputContent{
	overflow-y: auto;
}
#outputList{
	width:100%;
}
#outputList>tr{
	width:100%;
	background: red;
}
#outputList>tr>td{
	text-align: center;
	width: 25%;
}
/*资产框*/
.assetBox{
	position: absolute;
	top:40%;
	margin-top:-50px;
	left:50%;
	margin-left:-45%;
	height:100px;
	width:90%;
	border-radius: 10px;
	background:rgba(0,43,76,1); 
}
.assetBox>div.cancel{
	position: absolute;
	width:80px;
	height:30px;
	border-radius: 10px;
	line-height: 30px;
	text-align: center;
	bottom:6px;
	left:40px;
	color:white;
	background:rgba(200,200,200,0.4);
}
.assetBox>div.sure{
	position: absolute;
	width: 80px;
	height:30px;
	border-radius: 10px;
	background: rgba(255,85,0,0.8);
	color:white;
	text-align: center;
	line-height: 30px;
	bottom:6px;
	right:40px;
}
.assetBox>input.assetName{
	position: absolute;
	top: 8px;
	left:20px;
	background: none;
	border: none;
	width:100px;
	height:26px;
	font-size: 16px;
	line-height: 26px;
	border-bottom: 1px solid #aaa;
	color:white;
	outline: none;
	text-align: center;
}
.assetBox>input.assetValue{
	position: absolute;
	top: 8px;
	right:20px;
	background: none;
	border: none;
	width:100px;
	height:26px;
	font-size: 16px;
	line-height: 26px;
	border-bottom: 1px solid #aaa;
	color:white;
	outline: none;
	text-align: center;
}
.assetBox>select.assetChooseSelect{
	position: absolute;
	display: inline-block;
	left:50%;
	margin-left:-25px;
	text-align: center;
	top:18px;
	outline: none;
	width:50px;
	height:20px;
}
.assetBox>select.assetChooseSelect>option{
	text-align: center;
}
.selectContent .assetContent{
	overflow-y: auto;
}
#assetList{
	width:100%;
}
#assetList>tr{
	width:100%;
	background: red;
}
#assetList>tr>td{
	text-align: center;
	width: 25%;
}
/*负债框*/
.debtBox{
	position: absolute;
	top:40%;
	margin-top:-50px;
	left:50%;
	margin-left:-45%;
	height:100px;
	width:90%;
	border-radius: 10px;
	background:rgba(0,43,76,1); 
}
.debtBox>div.cancel{
	position: absolute;
	width:80px;
	height:30px;
	border-radius: 10px;
	line-height: 30px;
	text-align: center;
	bottom:6px;
	left:40px;
	color:white;
	background:rgba(200,200,200,0.4);
}
.debtBox>div.sure{
	position: absolute;
	width: 80px;
	height:30px;
	border-radius: 10px;
	background: rgba(255,85,0,0.8);
	color:white;
	text-align: center;
	line-height: 30px;
	bottom:6px;
	right:40px;
}
.debtBox>input.debtName{
	position: absolute;
	top: 8px;
	left:20px;
	background: none;
	border: none;
	width:100px;
	height:26px;
	font-size: 16px;
	line-height: 26px;
	border-bottom: 1px solid #aaa;
	color:white;
	outline: none;
	text-align: center;
}
.debtBox>input.debtValue{
	position: absolute;
	top: 8px;
	right:20px;
	background: none;
	border: none;
	width:100px;
	height:26px;
	font-size: 16px;
	line-height: 26px;
	border-bottom: 1px solid #aaa;
	color:white;
	outline: none;
	text-align: center;
}
.debtBox>select.debtChooseSelect{
	position: absolute;
	display: inline-block;
	left:50%;
	margin-left:-25px;
	text-align: center;
	top:18px;
	outline: none;
	width:50px;
	height:20px;
}
.debtBox>select.debtChooseSelect>option{
	text-align: center;
}
.selectContent .debtContent{
	overflow-y: auto;
}
#debtList{
	width:100%;
}
#debtList>tr{
	width:100%;
	background: red;
}
#debtList>tr>td{
	text-align: center;
	width: 25%;
}